<%- include('includes/head') %>  
    <section class="container">
      <h1>
        <% if (typeof title !== 'undefined') { %>
          <%= title %>
        <% } else { %>
          Title is undefined
        <% } %>
      </h1>
      <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <label>Cliente</label>
        <input type="text" name="cliente">
        <button>Submit</button>
      </form>
    </section>
<%- include('includes/footer') %>
