@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(130, 10, 209);
  --primary-color-darker: rgb(90, 10, 150);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.form-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group label {
  font-size: 1.2em;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.form-input {
  width: 20%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(130, 10, 209, 0.5);
}

.form-checkbox {
  margin-right: 10px;
}

.form-button {
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.form-button:hover {
  background: var(--primary-color-darker);
}

.password-result {
  font-size: 1.5em;
  color: var(--primary-color-darker);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
